.section1{
    text-align: center;
    padding-left: 96px;
    padding-right: 96px;
}

.NewAssortment{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.NewAssortment span {
    box-shadow: unset !important;
}
.NewAssortment span::before {
    width: 20px !important;
    height: 20px !important;
}

.my_swiper{
    position: unset;
}

.why_carusel{
   padding-right: -60px;
   position: relative;
}

@media (max-width:1415px) {
    

}

@media (max-width:991px) {


}

@media (max-width: 767px){


}


@media (max-width:568px) {
    .cartss{
        grid-template-columns: repeat(auto-fill,minmax(80%,auto));
    }
    .cartss .cartItem:not(:nth-child(4n+4)){
        margin-right: unset;
        /* background-color: red; */
    }
    .cartss .cartItem:not(:nth-child(3n+3)){
        margin-right: unset;
        /* background-color: red; */
    }

}

@media only screen and (max-width: 390px) {
    .section1{
        padding-left: 70px;
        padding-right: 70px;
    }
    .swiper-button-next:after{
        margin-right: 30px;
    }
    .swiper-button-prev:after{
        margin-left: 30px;
    }
  }

