.fullwidht {
  width: 100%;
  margin-right: unset !important;
}

.new_passowords {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
}
.new_passowords .input_block {
  display: flex;
  align-items: center;
  width: 96%;
}
.inputBlocks{
  width: 100%;
}
#btn_edit_password_confirm {
  color: #27272c !important;
  border-radius: 50px !important;
  /* width: 32% !important; */
  text-transform: unset !important;
  font-size: 16px !important;
  background: #ffffff !important;
  white-space: nowrap !important;
  min-width: 120px !important;
  font-weight: 600 !important;
  /* box-shadow: 0px 0px 18px rgba(104, 104, 104, 0.18) !important; */
  padding: 12px 46px !important;
  display: block;
  margin: auto !important;
  margin-top: 5vh !important;
  /* float: right; */
}
.changeInfo_form_ {
  padding: 50px 0;
  border: none !important;
}
.current_password_icon {
  margin-right: 24px;
}
@media (max-width: 991px) {
  .inputs .new_passowords {
    flex-direction: column;
  }
  .inputs .new_passowords > div {
    width: 100%;
  }
}
