.users_info_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 0.5px solid #B8B8B8;
}
.users_info_item_button{
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}
.users_info_item_button:hover{
cursor: pointer;
}
.users_info_item_button:hover p{
    color: #F68D10 ;
    }
    .users_info_item:hover p{
        color: #F68D10 ;
    }
.users_info_item_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
    padding-left: 12px;
}

.users_info_item_img__ svg path{
    fill: red;
}

@media(max-width:1024px){
    .users_info_item_title{
        font-size: 16px;
    } 
}


