.dialog_head_forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dialog_back{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dialog_close{
    cursor: pointer;
}

.dialog_back_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #121212;
    margin-left: 14px;
}

.dialog_head_subTitle_block{
    margin-top: 56px;
    margin-bottom: 32px;
    
}
.dialog_head_subTitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #121212;
}

.dialog_label{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #B8B8B8;
    margin-bottom: 12px;
}

.dialog_content_btn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin-top: 48px;
}

.error{
    color: red;
    margin-top: 12px;
}

#dialog3 .MuiPaper-root{
    background: #FAFAFA !important;
    border: 2px solid #F68D10 !important;
    width: 43% !important;
    padding: 48px 32px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
}

#dialog3 .MuiPaper-root::-webkit-scrollbar{
    display: none !important;
}

@media only screen and (max-width: 480px){
    #dialog3 .MuiPaper-root{
        width: 90% !important;
    }
}